<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <script src="/javascripts/scripts.js"></script>
  <title>RESTaurant App</title>
</head>
<body>
  <%= yield %>
</body>
</html>